/* Text Container */
.textContainer {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out;
}

.textContainer {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out;
}

.textContainer.loaded {
    opacity: 1;
    visibility: visible;
}

.slide-in-header {
    transform: translateY(-20px);
    transition: transform 0.8s ease-in-out, opacity 1s ease-in-out;
}

.slide-in-paragraph {
    transform: translateY(20px);
    transition: transform 0.8s ease-in-out, opacity 1s ease-in-out;
}

.textContainer.loaded .slide-in-header {
    transform: translateY(0);
}

.textContainer.loaded .slide-in-paragraph {
    transform: translateY(0);
}


.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    gap: 20px;
    /* Adjust the padding as needed for your desired spacing */
}